extends layout

block layout-content
  body.text-center
    form(class="form-signin" action='/provision-enterprise', method='POST')
      #error
        if error
          p.text-danger Error!!!
      - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
        h1(class=h1Classes) Admin Portal Example Application
        h5(class=h5Classes) For whom would you like to configure SSO?
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email')
            input(id='inputEmail',class="form-control",type='email',value='',placeholder='Email Address',name='email' required autofocus)
            p.lead.text-muted Text prior to @ will be the organization name
            p.lead.text-muted Text following @ will be the domain

      div(data-role='fieldcontain')
        - var buttonClass=['btn', 'btn-md', 'btn-primary', 'btn-block'];
          button(class=buttonClass type="submit") Configure SSO
